---
import MainLayouts from "../layouts/MainLayouts.astro";
import GoHome from "../components/shared/GoHome.astro";
import {actions} from "astro:actions";
import SocialShareButtons from "../components/shared/SocialShareButtons.astro";
import Brand from "../components/shared/Brand.astro";
import {ImageWithLoading} from "../components/shared/ImageWithLoading.tsx";
import {getImage} from "astro:assets";

const {public_id = ''} = Astro.params;

const {data, error} = await actions.getPostByPublicId(public_id);

if (error) {
    if (error.code === 'INTERNAL_SERVER_ERROR') return Astro.redirect("/500");
    if (error.code === 'NOT_FOUND') return Astro.redirect("/404");
}

const {result} = data ?? {};

const originalImage = await getImage({
    src: result?.secure_url,
    quality: 80,
    format: 'webp',
    inferSize: true,
});
const aspectRatio = `${originalImage?.options.width} / ${originalImage?.options.height}`;
// random del 0 al 4
const random = Math.floor(Math.random() * 5);
---
<MainLayouts
        title="¿Qué tal me quedan las máscaras? 🎃 - boooooo"
        description="Si te asustas, no te preocupes, es solo una broma de Halloween 😛"
        social_image={result?.face_masks[random] ?? ''}
>
    {
        error && (
                    <div class="text-red-500 text-2xl">
                        {error}
                        {JSON.stringify(error)}
                    </div>
        )
    }
    {
        result && (
                    <>
                        <Brand/>
                        <h2 class='my-3 text-3xl text-white font-bold'>📸 Tu foto</h2>
                        <img
                                src={result.secure_url}
                                alt="Preview"
                                class="w-4/5 sm:w-1/2 xl:w-1/4"
                        />

                        <SocialShareButtons/>

                        <GoHome/>

                        <h2 class='text-3xl text-white font-bold'>
                            😱 Así te verías 😧
                        </h2>
                        <div class="flex flex-col items-center justify-center w-full gap-5">

                            {
                                result.face_masks.map((face: string) => (
                                        <ImageWithLoading src={face} aspectRatio={aspectRatio} client:only="react"/>
                                ))
                            }
                        </div>
                        <SocialShareButtons/>
                        <GoHome/>
                    </>
        )
    }
</MainLayouts>