---
import Footer from '../components/shared/Footer.astro';
import {SITE_SOCIAL_IMAGE, SITE_TITLE, SITE_DESCRIPTION} from '../config/globla.config'
import ImageFooter from "../components/shared/ImageFooter.astro";
import ImageHeader from "../components/shared/ImageHeader.astro";
interface Props {
    title?: string;
    description?: string;
    social_image?: string;
}

const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    social_image = SITE_SOCIAL_IMAGE,
} = Astro.props;
---

<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="title" content={title}/>
    <meta name="description" content={description}/>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={social_image}/>
    <title>{title}</title>
</head>
<body class="bg-gradient-to-b from-[#242424] to-black-500 text-orange-500 flex flex-col items-center justify-center content-center gap-3">
<ImageHeader />
<slot/>
<Footer />
<ImageFooter />
</body>
</html>
